Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

**/node_modules
**/.next
**/.turbo
.git
.gitignore
**/.env
**/.env.local
**/.vercel
**/dist
**/build
**/*.log
**/.DS_Store
docker-compose.yml
**/Dockerfile